@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bcyfhr');
  src:  url('fonts/icomoon.eot?bcyfhr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bcyfhr') format('truetype'),
    url('fonts/icomoon.woff?bcyfhr') format('woff'),
    url('fonts/icomoon.svg?bcyfhr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-house:before {
  content: "\e902";
}
.icon-display:before {
  content: "\e956";
}
.icon-user:before {
  content: "\e971";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-google:before {
  content: "\ea89";
}
.icon-instagram:before {
  content: "\ea8c";
}
.icon-twitter:before {
  content: "\ea96";
}
