.haus1{
    border: 2px solid yellow;
    margin-left: 70px;
}
.haus2{
    border: 1px solid blue;
    margin: 25px;
}
.div2{
    border: 5px solid lawngreen;
    padding: 10px;
    margin: 30px;
}
.haus3{
    border: 3px dashed purple;
    margin: 20px;
    padding: 15px;
    color:purple;
}
.div3{
    border: 4px solid gold;
    padding: 30px;
}
.inline{
    display: block;
    color: blue;
    border: 3px dashed green;
    margin: 1em;
    padding: 1em;
}
.inline1{
    display: inline;
    color:purple;
    border: 3px dashed orange;
    margin: 1em;
    padding: 1em;
}
.inline_block{
    display: inline-block;
    color:purple;
    border: 3px dashed red;
    margin: 1.5em;
    padding: 1em;
}
.floatp{
    border: 2px solid blue;
    float: left;
    width: 30%;
}
.floatdiv{
    border: 2px solid violet;
    margin: 5em;
}
.floatp1{
    width: 45%;
    float: left;
    border: 3px solid goldenrod;
}