@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y7ptkc');
  src:  url('fonts/icomoon.eot?y7ptkc#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?y7ptkc') format('truetype'),
    url('../fonts/icomoon.woff?y7ptkc') format('woff'),
    url('../fonts/icomoon.svg?y7ptkc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
.icon-house:before {
  content: "\e902";
}
.icon-display:before {
  content: "\e956";
}
.icon-user:before {
  content: "\e971";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-google:before {
  content: "\ea89";
}
.icon-instagram:before {
  content: "\ea8c";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-table2:before {
  content: "\ea71";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-youtube2:before {
  content: "\ea9e";
}
