/* Ég gerði ekkert responsive web design því mér fannst síðan mín ekki þurfa það, hún lítur mjög vel út í öllum skjástærðum
bara til að sýna að ég get það samt, hérna er dæmi um media query: 
@media screen and (min-width: 700px) {
  .content {
    font-size:5em;
  }
} */
@import url('https://fonts.googleapis.com/css?family=Arvo|Dosis|Josefin+Sans');
html {
  background: linear-gradient(to left,#cc00cc,#ff0066)
}
.current {
    color: blue;
    font-weight: bold;
  }
.topnav {
    text-align: center;
    border-top: solid 2px cyan;
    border-bottom: solid 2px cyan;
    padding: 20px;
    font-size: 1.5em;
}
.topnav a {
  margin: 10px;
  text-decoration: none;
}
.topnav a:hover {
  color: palegoldenrod;
}
.um {
  font-size: 1.4em;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 40px;
}
.site_title {

}
.social{
  border-top: solid 2px black;
  padding-top: 20px;
}
.social a {
  padding-left: 20px;
}
header h1 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 2.5em;
}
// Samfélagsmiðla Navigationið
footer a {
  font-size: 40px;
  text-decoration: none;
  color: black;
}

.nonni {
  height: 200px;
  width: 200px;
}

/* Um Mig í about.md */
.ummig {
  font-size: 1.4em;
  font-family: 'Arvo', serif;
}
// @media screen and (min-width: 700px) {
//     content {
//     background-color: black;
//   }
// }
// Vill Ekki Virka