@media screen and (min-width: 48em) { // Original Menuið á stórum skjá
   .menuInput {
       display: none;
   }
    .icon-menu {
      display: none;
    }
    .topnav {
        text-align: center;
        border-top: solid 2px cyan;
        border-bottom: solid 2px cyan;
        padding: 20px;
        font-size: 1.5em;
    }
    .topnav a {
      margin: 10px;
      text-decoration: none;
    }
    .topnav a:hover {
      color: palegoldenrod;
    }
    }

@media screen and (max-width: 48em) {
    .topnav {
        position: relative;
        right: 15em;
        text-align: center;
        width: 4.4em;
        display: flex;
        flex-flow: column;
        font-size: 1.4em;
        transition: ease-in-out 0.5s all;
        margin-top: 10px;
    }
    input {
        overflow: hidden;
        position: absolute;
        top: -10em;
    }
    input#toggle:checked ~ .topnav {
        //top: -10em;
        //right: 0em;
        right: 0em;
    }
    .icon-menu {
        font-size: 2em;
        margin-left: 10px;
        margin-bottom: 15px;
        cursor: pointer;
    }
}