<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      <h1><img class="nonni" src="/assets/images/logo.svg"><br>My Blog</h1>
      <nav>
        <input type="checkbox" id="toggle" class="menuInput">
        <label for="toggle" class="menuLabel"> <span class="icon-menu"></span></label>
    <div class="topmenu">
        {% include navigation.html %}
    </div>
    </nav>
    </header>
<div class="container">


    {% include sidebar.html %}
<div class="content">
    {{ content }}
  </div>

  </div>
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>