<!doctype html>
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <header>
      <h1><img class="nonni" src="/assets/images/logo.svg"><br>My Blog</h1>
      {% include navigation.html %}
    </header>
    {{ content }}

    <footer>
      <nav class="social">
        <a class="icon-twitter"href="https://twitter.com/"target="_blank" title="My Twitter"></a>
        <a href="https://gmail.com/" target="_blank"title="My Email"><span class="icon-google"></span></a>
        <a href="https://instagram.com/" target="_blank"title="My Instagram"><span class="icon-instagram"></span></a>
      </nav>
    </footer>
  </body>
</html>